
@font-face
{
    font-family: "astronomus";
    src: url('../font/Astronomus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.unknown-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    color: pink;
    font-size: xx-large;
}

.profile{
    font-family: "astronomus", sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.profile-header{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.message-button{
    font-size: smaller;
    height: min-content;
    position: fixed;
    top: 27px;
    right: 5%;
    flex-basis: 10%;
    border-radius: 5px;
    color:black;
    backdrop-filter: blur(2px);
    padding: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-bottom: 1px;
}

.follow-button{
    font-size: smaller;
    height: min-content;
    position: fixed;
    top: 27px;
    right: 5%;
    flex-basis: 10%;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    text-shadow: 0.2px 0.2px 1px rgba(255, 255, 255, 0.863), rgba(255, 192, 203, 0.651) -0.2px -0.2px 1px, 0 0 2px white;
    background-color: rgba(19, 19, 19, 0.591);
    border-top: 0.8px #383d69;
    border-left: 0.8px #383d69;
    border-bottom: 0.8px #7682de solid;
    border-right: 0.8px #7682de solid;
    box-shadow:
    1px 1px 1px #1E90FF,
    1.5px 1.5px 1px white,
    -1px -1px 1px #1E90FF,
    -1.5px -1.5px 1px white,
    0 0 5px #1E90FF,
    0 0 10px #00ffffe6,
    0 0 15px white;
    backdrop-filter: blur(2px);
    padding: 3px;
    margin-right: 1px;
    margin-left: 1px;
    padding-bottom: 1px;
}
.follow-button:hover{
    box-shadow:
    1px 1px 1px #1E90FF,
    1.5px 1.5px 1px white,
    -1px -1px 1px #1E90FF,
    -1.5px -1.5px 1px white,
    0 0 5px #1E90FF,
    0 0 8px #00ffffe6,
    0 0 10px #00ffffe6,
    0 0 15px white,
    0 0 20px white;
}
.follow-button:active{
    padding: 2px;
    padding-bottom: 1px;
    border-top: 0.8px #7682de solid;
    border-left: 0.8px #7682de solid;
    border-bottom: 0.8px #383d69;
    border-right: 0.8px #383d69;
    background-color: rgba(0, 0, 0, 0.591);
    box-shadow:
    1px 1px 1px #1E90FF,
    1.5px 1.5px 1px white,
    -1px -1px 1px #1E90FF,
    -1.5px -1.5px 1px white,
    0 0 5px #1E90FF,
    0 0 8px #00ffffe6,
    0 0 10px #00ffffe6,
    0 0 15px white;
}

.other-user{
    flex-basis: 100%;
}
.current-user{
    flex-basis: 75%;
}
.profile-infos{
    overflow: hidden;
    display: flex;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.392);
    backdrop-filter: blur(1px);
    border: 0.002px rgba(255, 255, 255, 0.627) solid;
}

.username-bio{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.username{
    font-family: "astronomus", sans-serif;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: top;
}

.username-bio .profile-username{
    color: rgb(241, 240, 240);
    text-shadow:
    0.5px 0.5px 1px #7682de,
    1px 1px 1px #1E90FF,
    1.5px 1.5px 1px white,
    -1px -1px 1px #1E90FF,
    -1.5px -1.5px 1px white,
    0 0 5px #1E90FF,
    0 0 10px #00ffffe6,
    0 0 15px white;
}

#catdance {
    width: 30px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 15px;
}

.username-bio .profile-bio{
    overflow: hidden;
    color:rgb(229, 229, 229);
    text-shadow: 0.2px 0.2px 1px rgba(255, 255, 255, 0.863), rgba(255, 192, 203, 0.651) -0.2px -0.2px 1px, 0 0 2px white;
}

.image{
    margin-bottom: 10px;
}

.profile-image-container {
    width: 120px;
    height: 125px;
    overflow: hidden;
    border-radius: 50%;
    margin : 5px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

