{% load static %}
{% load widget_tweaks %}

{% csrf_token %}
<div class="mb-3 mt-4 signUpForm">
  <label class="form-label">username already in use, pick another one:
  </label>
  {{ username_form.username | add_class:'profile-form-control' }}
  <button type="button" onclick="redirForms('submit_username_form', '#username')" class="btn btn-sm small-save-button">Save</button>

</div>
<div class="mb-3 mt-4">


<div class="input-profile-update" id="username">
    <form id="username_form">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div class="coolinput">
    <label for="username_form.username_id" class="text">new name:</label>
    {{ username_form.username | add_class:'profile-form-control' }}
    <div class="edit-change-state-buttons">
        <button type="button" onclick="redirForms('dismiss', '.edit-button')" class="btn btn-sm small-cancel-button">Cancel</button>
    </div>
    </form>
</div>